.todoform {
  background-color: rgb(92, 57, 4);
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.morderninput {
  display: block;
  width: 100%;
  border: none;
  font-size: 16px;
  color: black;
}
.morderninput:focus {
  outline: none;
}
.mordernButton {
  display: inline-block;
  border-radius: 10px;
  background-color: indigo;
  border: none;
  color: aliceblue;
  cursor: pointer;
  padding: 12px 20px;
}
.innerContainer {
  display: flex;
}
